:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --purple-color:#5b4399;
    --my-blue:#5A68CB;
    --player-color:#6683D9;

    /*size*/
    --title-size:7.5em;
}

@font-face {
    font-family: 'bushwackers';
    src: url('./fonts/bushwackers.regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.title {
    background-color: var(--my-blue);
    position:absolute;
    /*width:100vw;*/
    text-align: center;
    align-self: center;
    
    color: var(--white-color);
    text-transform: uppercase;
    font-size: var(--title-size);
    font-weight: bold;
    font-family: 'IAMAPLAYER';
}
.map_text, .grit_text{
    background-color: var(--my-blue);
    opacity: 0.9;
    color: var(--white-color);
    font-family: 'IAMAPLAYER';
    font-size: 4rem; 
    text-align: center;
}

.movielist_text{
    font-size: 1.6rem;
    font-family: 'IAMAPLAYER';
    color: var(--white-color);
}

.header__time {
    font-family: 'IAMAPLAYER';
}
.name, pf_text{
    font-family: 'bushwackers';
}
