.firstpage {
        background-image: url('../img/bg.jpg');
	margin: 0;
    	width: 100vw;
    	height: 100vh;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	overflow-x: hidden;
	background-attachment:fixed;
	background-repeat : no-repeat;
        background-size : cover;
        /* Preserve aspet ratio         
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;*/
        
      }
