.clock {
    position: absolute;
    align-items: center;
    margin: auto;
    top: 10px;
    right: 10px;
    width: 380px;
    height: 220px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
    font-family: Century Gothic, sans-serif;;
    font-weight: lighter;
    color: white;
  }
  
  .content {
    margin-top: 40px;
    width: auto;
    height: auto;
    text-align: center;
  }
  
  /*Days Start*/
  .days {
    margin-top: -10px;
    color: rgba(255, 255, 255, 0.2);
  }
  .days span {
    margin-left: 21px;
    font-size: 1.3rem;
  }
  /*Days End*/
  
  /*Times Start*/
  .times {
    margin-top: -10px;
    font-size: 2rem;
  }
  #hours,
  #min,
  #sec {
    font-size: 1em;
  }
  #noon {
    font-size: 1.8rem;
  }
  /*Times End*/
  
  /*Today Start*/
  .today {
    margin-top: -15px;
    margin-left: -100px;
  }
  #cal img {
    width: 30px;
    height: 30px;
  }
  span#year {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
  }
  span#month {
    position: absolute;
    margin-top: 5px;
    margin-left: 62px;
  }
  span#day {
    position: absolute;
    margin-top: 5px;
    margin-left: 98px;
  }
  /*Today End*/
