@font-face {
    font-family: 'bushwackers';
    src: url('./css/fonts/bushwackers.regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root{
    /*color*/
    --white-color:#FFFFFF;
    --player-color:#6683D9;
    --my-blue: #5A68CB;
    --my-purple: #CBA4E3;

    /*size*/
    --header-time-size:3.125rem;
    --header-name-size:3.125rem;
    --name-input-font: 1.5rem;
    --title-size:7.5rem;
    /*pf-btns*/
    --pf-btn-size: 3rem;
}

.header-time-name{
    display: flex;
    align-self: center;
    padding:1.5rem;
}

.header__time, .name{
    font-size: var(--header-time-size);
    color:var(--white-color);
}
.header__time:hover {
    color:var(--my-purple);
}
.header__time-container {
    transition: all ease 0.3s;  
    border-radius: 1rem;
    padding:0.75rem;
}

.header__time-container:hover{
    background-color:var(--white-color); 
}
.header__time:hover {
    color:var(--my-purple);
}
/*name*/
.name-container{
    transition: all ease 0.3s;  
    border-radius: 1rem;
    padding:0.75rem;
}
.name-container:hover{
    background-color:var(--white-color); 
}
.name:hover {
    color:var(--my-purple);
}
.name-form{
    width: var(--name-form);
    border:var(--border);
    border-radius:0.75rem;
    padding:0.2rem;
}
.name-input{
    text-align: center;
    width: 100%;
    background-color: var(--player-color);
    color:var(--white-color);
    font-size:var(--name-input-font);
}

.name-hide{
    display: none;
}

/*gritvideo*/
.YoutubeMovieList{
    list-style-type: none;
}
.grit_video_container{
    display: inline;
}
.movieli_container, .mapli_container{
    float: left;
    margin: 0.75rem;
    background-color: transparent;
    transition: all ease 0.3s;  
    border-radius: 3rem;
    border-color: var(--white-color);
    margin-bottom: 2rem;
}
.movieli_container:hover{
    background-color:var(--white-color); 
}
.movielist_text:hover{
    color: var(--my-blue);
}

.mapli_container:hover{
    background-color:var(--white-color); 
}
.maplist_text:hover{
    color: var(--my-blue);
}

/*portfolio link buttons*/
.pf-btns-container {
    position: fixed;
    top: 85%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pf_text{
    font-size: 1.3rem;
    color: var(--white-color);
    text-transform: uppercase;
}
.pf-btn {
    float: left;
    margin: 0.25rem;
    transition: all 0.3s ease;
    width: var(--pf-btn-size);
    height: var(--pf-btn-size);
    border-radius: 50%;
}
.pf-btn:hover{
    background-color:var(--my-purple); 
}
.notion-logo, .github-logo{
    width: 20px;
    height: 20px;
}

.title {
    background-color: var(--my-blue);
    color: var(--white-color);
    font-size: var(--title-size);
    font-family: 'IAMAPLAYER';
    position:absolute;
    text-align: center;
    
    /*width:100vw;
    font-weight: bold;
    text-transform: uppercase*/
}
.map_text, .grit_text{
    background-color: var(--my-blue);
    opacity: 0.9;
    color: var(--white-color);
    font-family: 'IAMAPLAYER';
    font-size: 4rem; 
    text-align: center;
}

.movielist_text{
    font-size: 1.6rem;
    font-family: 'IAMAPLAYER';
    color: var(--white-color);
}

.header__time {
    font-family: 'IAMAPLAYER';
}
.name, pf_text{
    font-family: 'IAMAPLAYER';
}
