:root{
    /*color*/
    --white-color:#FFFFFF;
    --player-color:#6683D9;
    --my-blue: #5A68CB;
    --my-purple: #CBA4E3;

    /*size*/
    --header-time-size:3.125em;
    --header-name-size:1.875em;

    /*border*/
    --border:2px solid var(--white-color);
}
/*header*/
.header{
    padding-top:1.5em;
    padding-bottom:1.5em;
    paddding-left:1.5em;
    padding-right:1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--my-blue);
}

.header-time-name{
    display: flex;
    align-self: center;
    padding:1.5em;
}

.header__time{
    font-size: var(--header-time-size);
}

.header__time-container{
    transition: all ease 0.3s;  
    border-radius: 1em;
    padding:0.75em;
}

.header__time-container:hover{
    background-color:var(--white-color); 
    color:var(--my-purple);
}
/*name*/
.name-container{
    width: 60%;
    margin-left:3em;
    display: flex;
    align-self: center;
    padding:0.3em;
    transition: all 0.3s ease;
    border-radius:0.75em;
}
.name{
    color: var(--white-color);
    font-size:var(--header-name-size);
    border-radius:0.75em;
    padding:0.2em;
    border:var(--border);
    width:100%;
    text-align: center;
}

.name:hover{
    background-color: var(--white-color);
    color:var(--my-purple);
}

.name-form{
    width: var(--name-form);
    border:var(--border);
    border-radius:0.75em;
    padding:0.2em;
}

.name-form:focus-within{
    background-color: var(--player-color);
}

.name-input{
    text-align: center;
    width: 100%;
    color:var(--white-color);
    font-size:var(--name-input-font);
}

.name-input::placeholder{
    color:var(--white-color);
    text-align: center;
    font-size:var(--name-input-font);
}
.name-hide{
    display: none;
}
/*gritvideo*/
.YoutubeMovieList{
    list-style-type: none;
}
.grit_video_container{
    display: inline;
}
.movieli_container{
    display: inline;
    background-color: transparent;
    transition: all ease 0.3s;  
    border-radius: 3em;
    border-color: var(--white-color);
    margin-bottom: 30px;
}

.movieli_container:hover{
    background-color:var(--white-color); 
}

.movielist_text:hover{
    color: var(--my-blue);
}
