:root{
    /*color*/
    --white-color:#FFFFFF;
    --player-color:#6683D9;
    --my-blue: #5A68CB;

    /*size*/
    --header-time-size:3.125em;
    --header-name-size:1.875em;
    --movielist-size: 1.6em;
}
/*header*/
.header{
    padding:1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--my-blue);
}

.header-time-name{
    display: flex;
    align-self: center;
}

.header__time{
    font-size: var(--header-time-size);
}

.header__time-container{
    transition: all ease 0.3s;  
    border-radius: 1em;
    padding:0.75em;
}

.header__time-container:hover{
    background-color:var(--white-color); 
    color:var(--player-color);
}
.name{
    color: var(--white-color);
    font-size:var(--header-name-size);
    border-radius:0.75em;
    padding:0.2em;
    border:var(--border);
    width:100%;
    text-align: center;
}

.name:hover{
    background-color: var(--white-color);
    color:var(--player-color);
}

.name-form{
    width: var(--name-form);
    border:var(--border);
    border-radius:0.75em;
    padding:0.2em;
}

.name-form:focus-within{
    background-color: var(--player-color);
}

.name-input{
    text-align: center;
    width: 100%;
    color:var(--white-color);
    font-size:var(--name-input-font);
}

.name-input::placeholder{
    color:var(--white-color);
    text-align: center;
    font-size:var(--name-input-font);
}
/*gritvideo*/
.YoutubeMovieList{
    list-style-type: none;
}
.movielist_text{
    font-size: var(--movielist-size);
}

.movieli_container{
    transition: all ease 0.3s;  
    border-radius: 1em;
    padding:0.75em;
}

.movieli_container:hover{
    background-color:var(--white-color); 
    color:var(--player-color);
}
