@font-face {
    font-family: 'YdBroad';
    src: url('./font/Yeonngdeok Blueroad.otf') format("opentype");
}
@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.grit_text{
    font-family: 'IAMAPLAYER';
    font-size: 3rem; 
}
.quote {
    justify-content: center;
    display: flex;
  }
  #quote {
    position: absolute;
    justify-content: center;
    margin-bottom: 100px;
    bottom: 0px;
    width: 1080px;
    height: 120px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 2px solid rgba(255, 255, 255, 0.2); /*여기 테두리선 픽셀조정*/
    border-left: 2px solid rgba(255, 255, 255, 0.2); /*여기 테두리선 픽셀조정*/
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
    font-family: YdBroad; /*명언 폰트*/
    font-weight: lighter;
    color: white;
  }
  
  #quote span:first-child {
    position: absolute;
    text-align: left;
    margin: 30px;
    font-family: YdBroad;
    font-size: 1rem; /*명언 글자 크기*/
  }
  
  #quote span:last-child {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    font-weight: bold;
    font-family: YdBroad; /*명언 폰트*/
    font-size: 0.8rem; /*위인 글자 크기*/
  }
  
