.Page, .Trip, .Grit {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 1.5%;
    height: 80%;
    width: 80vw;
    margin-bottom: 50vh;
}
.MovieList_container, .YoutubeMovieList {
	align-self: center;
	justify-content: center;
}
