:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --purple-color:#5b4399;

    /*size*/
    --title-size:7.5em;
    --menu-header-text:1.8em;
}
@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.hidden {
    display: none;
  }
  
  #bgimg {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title {
    position: absolute;
    top: 9%;
    align-self: center;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: var(--title-size);
    margin: 0;
    font-weight: bold;
    font-family: IAMAPLAYER;
}
.menu__header__text {
    color: var(--white-color);
    font-size: var(--menu-header-text);
    transition: all 0.3s ease;
}
